body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    border-left: 5px solid rgb(118, 118, 133);
    
}
h2{
    font-size: 45px;
}
.mission-color{
    color:orange;

}
.explore-btn{
    background-color: tomato;
    color: white;
    padding:10px 20px;
    border-radius: 5px;
    background-repeat: no-repeat;
    text-decoration: none;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.flexible-container{
    display: flex;
}
.half-width img{
    width: 80%;
}

.footer-mission{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}
.footer-mission span{
    color: tomato;
}
.my-mission{
    border-radius: 10px ;
    background-color: brown;
    width: 35%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}
#my-2022{
    background-color: dimgray;
}
#vission-2022{
    background-color: cornsilk;
}
#goal-2022{
    background-color: rgb(158, 144, 144) ;
}
.my-1 h2{
    text-align: center;
}
.my-1 span{
    color: tomato;
}
.develop-limits{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 2%;
}
.global-community{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 2%;
}
}
